<form action="/StartForm/Congrats" method="post">
    <input type="text" name="name" value=""placeholder="Введіть ім'я" /> <br /> <br />
    <input type="email" name="email" value="" placeholder="Введіть email" /> <br /> <br />
    <button type="submit">Стати розробником</button>
</form>